#page-forgot-password {
  width: 100vw;
  height: 100vh;

  display: flex;
}

#page-forgot-password main {
  position: relative;
  width: 520px;
  height: 100vh;
  padding: 80px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-forgot-password main form {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#page-forgot-password main > button {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  width: 48px;
  height: 48px;
  background-color: #EBF2F5;
  border: none;
  cursor: pointer;
}

#page-forgot-password main form fieldset {
  border: none;
  width: 100%;
}

#page-forgot-password main form fieldset legend {
  font-size: 32px;
  line-height: 34px;
  color: #5C8599;
  font-weight: 700;

  border-bottom: 1px solid #D3E2E5;
  margin-bottom: 24px;
  border: none;
}

#page-forgot-password main form fieldset p {
  font-size: 18px;
  line-height: 28px;
  color: #5C8599;
  font-weight: 600;
  margin-bottom: 40px;
}

.input-block label {
  display: flex;
  width: 100%;
  color: #8FA7B2;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 24px;
}

.input-block input {
  width: 100%;
  height: 64px;
  background-color: #F5F8FA;
  border-radius: 20px;
  border: 1px solid #D3E2E5;
  color: #5C8599;
  padding: 0 24px;
}
