#page-orphanage-deleted {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: #FF669D;
}

#page-orphanage-deleted main {
  display: flex;
  align-items: center;
  padding: 50px;
}

#page-orphanage-deleted main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-right: 120px;
}

#page-orphanage-deleted main div h1 {
  font-weight: 800;
  color: #FFFFFF;
  line-height: 80px;
  font-size: 80px;
  margin-bottom: 32px;
  text-align: center;
}

#page-orphanage-deleted main div p {
  font-weight: 600;
  color: #FFFFFF;
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 60px;
  text-align: center;
}

#page-orphanage-deleted main div .button {
  padding: 20px 40px;
  width: 300px;
  font-weight: 800;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.2s;
}

#page-orphanage-deleted main div .button.default {
  background-color: #D6487B;
}

#page-orphanage-deleted main div .button.outlined {
  border: 2px solid #D6487B;
  background: transparent;
}

#page-orphanage-deleted main div .button:hover {
  filter: brightness(1.1);
}

#page-orphanage-deleted main img {
  width: 400px;
}
